<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.sda.demospring"/>

    <bean id="quest" class="pl.sda.demospring.domain.Quest"/>

    <bean id="worrior" class="pl.sda.demospring.domain.Worrior">
        <constructor-arg index="0" value="Worrior Default"/>
        <constructor-arg index="1" value="18"/>
        <property name="quest" ref="quest"/>
    </bean>

    <bean id="castle" class="pl.sda.demospring.domain.Castle" init-method="build" destroy-method="destroy">
        <constructor-arg index="0" ref="worrior"/>
        <property name="name" value="${my.castle.name:Head Quarter}"/>
    </bean>


</beans>