<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Worrior list</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Worriors</h1>
    Actual time <span th:text="${timecomponent.time}"></span>
    Gold <span th:text="${playerinformation.gold}"></span>
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Level</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="worrior : ${worriors}">
            <td th:text="${worrior.name}"></td>
            <td th:text="${worrior.level}"></td>
            <td><a th:href="${'/worrior?id='+worrior.id}">Preview</a></td>
            <td><a th:href="${'/worrior/delete/'+worrior.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/add">Create worrior</a>
    </div>
</div>
</body>
</html>