<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Worrior list</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
<h1>Worriors</h1>
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
        </tr>
        </thead>
        <tbody th:each="worrior : ${worriors}">
        <tr>
            <td th:text="${worrior.name}"></td>
            <td th:text="${worrior.age}"></td>
        </tr>
        </tbody>
</table>
</div>
</body>
</html>